QDR_TELEGRAM_TOKEN=123456:replace-me
QDR_TELEGRAM_ADMIN_ID=123456789
QDR_MASTER_LISTEN_ADDR=:8080
QDR_MASTER_PUBLIC_API_URL=http://127.0.0.1:8080
QDR_MASTER_DB_PATH=/var/lib/quota-dns-router/master.db
QDR_MASTER_DATA_DIR=/var/lib/quota-dns-router
QDR_MASTER_LOG_DIR=/var/log/quota-dns-router
QDR_TELEGRAM_POLL_TIMEOUT=20s
QDR_CHECK_INTERVAL=60s
QDR_AGENT_OFFLINE_AFTER=300s
QDR_OFFLINE_NOTIFY_AFTER=600s
